SPOTIFY_CLIENT_ID= "673876bc2bb349d2b6be2bee053fea1e"
SPOTIFY_CLIENT_SECRET= "18ec9fe2c8214fc39c1f49629f3e6836"
SPOTIFY_MARKET_SOURCE=spotify_csv
RAW_SPOTIFY_CHARTS_DIR=data/raw/spotify_charts
SPOTIFY_AUDIO_FEATURES_ENABLED=false
DATABASE_URL=sqlite:///data/warehouse/music_market.db
